.contact {
    background-color: #faf6f6;
    padding-left: 40rem;
    padding-right: 40rem;
    margin-top: 100px;
  }
  
  .contact h2 {
    margin-bottom: 3rem;
    color: #a3114e;
    font-size: 40px;
  }
  
  .contact form {
    margin-top: 80px;
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .contact form .input-box input,
  .contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.2rem;
    background: rgb(253, 222, 244);
    border-radius: 5px;
    border: 3px solid #a3114e;
    margin: 1rem 0;
    resize: none;
  }
  
  .contact form .btn {
    padding: 1rem 8rem;
    margin-top: 1rem;
    color: #faecf2;
    background-color: #a3114e;
    border-radius: 10px;
    font-size: 16px;
  }


  header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(#ff0000);
}

header .logo{
    font-size:3rem ;
    color: #333;

} 

header .logo span{
    color:var(--blue)
}

header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover{
    color:var(--blue)
}

header .navbar a{
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}


header #toggler {
    display: none;  
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.3);
    display: none;
}

.belanosima-bold {
    font-family: "Belanosima", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .home {
    display: flex;
   align-items: center;
    min-height: 100vh;
    background: url(../img/pexels-ogproductionz-17242799.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: end;
    padding-bottom: 21%;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 4rem;
    color: #e20808;
    text-align: right;
    position: relative;
    margin-right: 3.7%;
    padding-right: 0.5%;
    display: flex;
    justify-content: end;
}

.home .content span{
    font-size:1.1rem;
    color:var(--blue);
    padding: 1rem;
    line-height:1.5;
}

.home .content h1{
    font-size: 2.0rem;
    color:hsl(244, 60%, 25%);
    padding: 1.2rem;
    line-height:1.2;
    text-align: right;
    position: relative;
    display: flex;
    justify-content: end;
}

.home .content p{
    font-size: 1.9rem;
    color:#e90000;
    padding: 1.2rem;
    text-align: right;
    position: relative;
    display: flex;
    justify-content: end;
}